  <div class="max-w-xs mx-auto bg-white">
    <%= form_tag(projects_path, method: :get) do %>
      <div data-controller="autocomplete" data-autocomplete-url-value=<%=autocomplete_jewels_path%>>
        <input type="text" class="w-full" data-autocomplete-target="input" value="<%=params[:search]%>" placeholder='Type gem name...'/>
        <input type="hidden" name="search" data-autocomplete-target="hidden">
        <ul class="list-group absolute bg-slate-50 w-80" data-autocomplete-target="results"></ul>
      </div>

      <%= submit_tag("", class: "hidden", disabled: true)%>
    <% end %> 
  </div>